<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
    <div class="container py-4">
        <div class="row g-4 border-bottom pb-4 mb-4">
            <div class="col-lg-4">
                <h1 class="text-primary mb-2">CD LOOP</h1>
                <p class="text-secondary">Nền tảng bán đĩa nhạc sưu tầm</p>
            </div>
            <div class="col-lg-4 text-center">
                <p class="mb-2"></p>
                <div class="position-relative mx-auto" style="max-width: 300px;">
                    <input class="form-control border-0 py-2 px-3 rounded-pill" type="email" placeholder="Nhập email">
                    <button class="btn btn-primary py-2 px-3 rounded-pill position-absolute" style="top: 0; right: 0;">Đăng ký</button>
                </div>
            </div>
            <div class="col-lg-4 text-end">
                <p>Theo dõi chúng tôi</p>
                <div class="d-flex justify-content-end">
                    <a class="btn btn-outline-light btn-sm rounded-circle me-2" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-sm rounded-circle me-2" href="#"><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-outline-light btn-sm rounded-circle me-2" href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
        <div class="row g-4">
            <div class="col-lg-4">
                <h5 class="text-light mb-3">Liên hệ</h5>
                <p>Địa chỉ: 248 CMT8, Đà Nẵng</p>
                <p>Email: cdloop@gmail.com</p>
                <p>Điện thoại: 0789 432 225</p>
            </div>
            <div class="col-lg-4">
                <!-- Tăng từ col-lg-4 lên col-lg-6 hoặc col-lg-12 nếu muốn full width -->
                <h4 class="text-light mb-3">Địa chỉ cửa hàng</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.760401232097!2d108.20389331535!3d16.06477948888013!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219b6b5a1f7d7%3A0x3a3d1e1a1e1a1e1a!2s248%2F24%20C%C3%A1ch%20M%E1%BA%A1ng%20Th%C3%A1ng%208%2C%20Khu%C3%AA%20Trung%2C%20C%E1%BA%A9m%20L%E1%BB%87%2C%20%C4%90%C3%A0%20N%E1%BA%B5ng%20550000%2C%20Vietnam!5e0!3m2!1sen!2s!4v1616581234567!5m2!1sen!2s"
                        width="120%"
                        height="200"
                        style="border:0; border-radius: 10px;"
                        allowfullscreen=""
                        loading="lazy">
                </iframe>
            </div>

            <div class="col-lg-4 text-end">
                <h5 class="text-light mb-3">Thanh toán</h5>
                <img src="img/payment.png" class="img-fluid" alt="Thanh toán">
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->